* {
	margin: 0;
	padding: 0;
	border: 0;
}

.layerOne {
	display: none;
}

.grid {
	border-radius: 8px;
	height: 500px;
	width: 500px;
	margin: 120px auto;

	/*grid*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
img {
	width: 99%;
	height: 99%;
}

.container { 
    position: relative; 
}

.container > div { 
    position: absolute; 
}

@media screen and (max-width: 575px){

	.grid {
		margin-top: 120px;
		height: 85vw;
		width: 85vw;
	}
}


