* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

.grid {
	border-radius: 8px;
	height: 500px;
	width: 500px;
	margin: 40px auto 20px auto;

	/*grid*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

img {
	width: 99%;
	height: 99%;
}

.container { 
    position: relative; 
}

.container > div { 
    position: absolute; 
}

/* LAYERS */

.layerOne {
	display: none;
}

#box-five-l1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes colorchange {
	0% {color: white;}
	70% {color: black;}
	100% {color: white;}
}

#hello {
	animation: colorchange 2s;
	font-size: 20px;
}

.layerTwo {
	display: none;
}

#img-1, #img-2, #img-3, #img-4, #img-5, #img-6, #img-7, #img-8, #img-9{
	display: none;
}

.layerThree {
	display: none;
}

#imgB1, #imgB2, #imgB3, #imgB4, #imgB5, #imgB6, #imgB7, #imgB8, #imgB9 {
	display: none;
}

.layerFour {
	display: none;
}

.layerFive {
	display: none;
}

#jump1, #jump2, #jump3, #jump4, #jump5, #jump6, #jump7, #jump8, #jump9 {
	display: none;
}
/* footer */
#contact {
	display: none;
}
.footer {
	margin: auto;
	width: 500px;
	display: grid;
	grid-template-columns: 3fr 1fr 3fr;
	justify-items: center;
	align-items: center;
	grid-template-areas:
		"elena github syko";
}
a {
	color: black;
}
/* buttons */
.elena {
	grid-area: elena;
}
.syko {
	grid-area: syko;
}
.github {
	grid-area: github;
}
.btn {
	height: 40px;
	width: 160px;
    background-color: silver; 
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* media query */

@media screen and (max-width: 575px){

	.grid {
		margin-top: 120px;
		height: 85vw;
		width: 85vw;
	}

	.footer {
		width: 85vw;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"elena"
			"syko"
			"github";
	}

}
